* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #74e297, #383e6a);
  font: 22px / 1 sans-serif;
}

.memSlider {
  width: 610px;
  text-align: center;
  overflow: hidden;
}

.memSlides,
.memText {
  display: flex;
  scroll-behavior: smooth;
  border-radius: 10px;
  margin-bottom: 5px;
  white-space: nowrap;
  transition: transform 0.8s;
}

.slide-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  width: 600px;
  height: 300px;
  flex-shrink: 0;
  margin: 0px 5px;
  border-radius: 1rem;
  background: #bcbcff;
  transform-origin: center center;
  transition: transform 0.5s;
  position: relative;
}

.dots {
  text-align: end;
}

.slide-dot {
  display: inline-flex;
  width: 1rem;
  height: 1rem;
  background: rgba(255, 255, 255, 1);
  border-radius: 50%;
  font-size: 0;
  text-decoration: none;
  margin: 10px 3px;
  align-items: center;
  justify-content: center;
}

/* img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

.memText-container {
  position: relative;
  bottom: 24px;
  z-index: -1;
  overflow-x: hidden;
  width: 75%;
}

.slide-text {
  flex-shrink: 0;
  width: 100%;
  padding: 0px 5px;
  text-align: left;
}

/* active dots design */
.dots > a + a {
  background: rgba(255, 43, 43, 0.5);
}
.memSlider > span:target ~ .dots > a {
  background: rgba(255, 43, 43, 0.5);
}
#slide-1:target ~ .dots > a:nth-child(1) {
  background: rgba(255, 255, 255, 1);
}
#slide-2:target ~ .dots > a:nth-child(2) {
  background: rgba(255, 255, 255, 1);
}
#slide-3:target ~ .dots > a:nth-child(3) {
  background: rgba(255, 255, 255, 1);
}
#slide-4:target ~ .dots > a:nth-child(4) {
  background: rgba(255, 255, 255, 1);
}
#slide-5:target ~ .dots > a:nth-child(5) {
  background: rgba(255, 255, 255, 1);
}

/* animation slides & text */
#slide-1:target ~ .memSlides,
#slide-1:target ~ .memText-container .memText {
  transform: translateX(0%);
}
#slide-2:target ~ .memSlides,
#slide-2:target ~ .memText-container .memText {
  transform: translateX(-100%);
}
#slide-3:target ~ .memSlides,
#slide-3:target ~ .memText-container .memText {
  transform: translateX(-200%);
}
#slide-4:target ~ .memSlides,
#slide-4:target ~ .memText-container .memText {
  transform: translateX(-300%);
}
#slide-5:target ~ .memSlides,
#slide-5:target ~ .memText-container .memText {
  transform: translateX(-400%);
}
